<section class="meetings cf">

    <div ng-hide="signedIn()" class="sorry">
        <h1>Sorry</h1>
        <p>Only registered users can manage meetings.</p>
    </div>

    <div ng-show="signedIn()" class="displaymeetings">

        <h1>Add Meetings</h1>
        <form class="formgroup addmeeting cf"
        name="myform"
        ng-submit="addMeeting()"
        novalidate>
        
        <div class="inputwrapper">
            <input type="text" name="meetingname" placeholder="Meeting Name" ng-model="meetingname" ng-required="true">
        </div>
        <button type="submit" class="btn"
            ng-disabled="myform.$invalid">+</button>
        </form>

        <br>
        <h2 ng-if="howManyMeetings > 0">Your Meetings</h2>
        <br>
        <div class="meeting" ng-repeat="(key,meeting) in meetings"> <!-- esta es la meeting que definir dentro del scope en el controller -->
            <button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)"><span>Delete this meeting</span></button> <!-- boton configurado con CSS, ver el final de capitulo 04040 for more info -->
            <span class="text">{{meeting.name}}</span>
        </div>

    </div> <!-- Display meetings -->
</section>